/*Styles for the global-header and banner area*/
/*Global Header Element*/
.global-header{
	position: fixed;
	width: 100%;
	overflow-y:visible;
    background-color: white;
    display:inline-block;
    border-bottom: 1px solid #ccc;
    padding:1% 0 1% 0;
	top:0;
    left:0;
    z-index: 9999;
    vertical-align:middle;
}


.gh-item {
    width:33%;
    display: inline-block;
    line-height:1.0em;
    vertical-align:middle;
}



.admin-bar .global-header {
	margin-top: 46px;
}
.site-navigation-fixed .global-header {
	height:100%;
	overflow:hidden;
}
@media screen and (max-width: 750px) {
    #wpadminbar {
		position:fixed;
    }
    .global-header{
        padding:1% 0 1% 0;
    }
    .gh-item-1{
        width:80%;
    }
}
@media screen and (min-width:750px){
    .global-header{
        justify-content: unset;
    }
    body:not(.home) #masthead{
        height: 85px;
        margin-top:6%;
    }
    body:not(.home) .navigation-top{
        margin-top:39%;
    }
    .admin-bar .global-header {
        margin-top: 32px;
    }
}

/*Custom Logo*/
@media screen and (max-width:750px){
    .custom-logo-link img{
        height: 24px;
    }
    .custom-logo-link{
        margin:0 1% 0 1%;
    }
}
@media screen and (min-width:750px){
    .custom-logo-link{
        margin: 0 2% 0 2%;
    }
    .custom-logo-link img{
        height: 50px;
    }
}


/*Search Bar Widget*/

.gh-widget-left{
    display: inline-block;
}
.search-field::placeholder {
	color:white;
}
.widget {
    padding-bottom: 0;
}
label {
    color: #333;
    display: block;
    font-weight: 800;
    margin-bottom: 0em;
}
.search-widget-style{
    display: inline-block;
}
.global-header .search-field::placeholder{
    color:black;
}
@media screen and (min-width:750px){
    .search-form .search-field {
        background: none;
        border-style: solid;
        border-color: black;
        border-radius: 25px;
        width: 300px;
    }
    .global-header .search-submit {
        width: 46px;
        right: 1px;
        top:3px;
        background-position: center;
        background-size: 91px;
        background-color: transparent;
    }
}
@media screen and (max-width:750px){
    .search-form .search-field {
        background: none;
        border-style: solid;
        border-color: black;
        border-radius: 25px;
        width: 175px;
        height:25px;
    }
    .global-header .search-submit{
        border-radius: 41px;
        right: 2px;
        top: -1px;
        padding: 14px 0px 14px 28px;
        background-position-x: -9px;
        background-position-y: .5px;
        background-size: 52px;
        background-color: transparent;
    }
    .search-icon{
        height:27px;
        position: absolute;
        right: -15px;
        top:0.3px;
    }
}
@media screen and (min-width:750px){
    .global-header{
        display: inline-block;
    }
}


/*TagLine*/
.tagline-container{
    text-align: center;
    display:inline-block;
}
.tagline{
    font-size:larger;
}
@media screen and (max-width:750px){
    .tagline-container{
        display:none;   
    }
}

/*Sidebar 2 (Social Media Icons)*/
.mysocial a {
    box-shadow: none;
    color:blue;
}
.mysocialwid{
	font-size: 24px;
}
#my_social_widget-2{
    padding:0px;
}




.social-media-icon-container {
		text-align: right;
}


.mysocial {
		padding-right:15%;
}

/*Banner Area*/
.banner-widget-area{
	text-align: center;
}
.banner-widget-area ul li{
	display: inline-block;
	text-decoration: none;
	color:white;
	border:none;
	border-right: 1px solid white;
	padding-right: 14px;
	margin-right: 12px;
	font-weight: 600;
}
.banner-widget-area ul li a{
	color:white;
	box-shadow: unset;
}
.banner-widget-area ul li:last-child{
	border-right: none;
}
.site-header{
    width:fit-content;
}

@media screen and (min-width:750px){
    .banner-widget-area {
        text-align: center;
        width: 300px;
        display: inline-block;
        padding-left: 48px;
    }
}
@media screen and (max-width:750px){
    .site-header{
        margin-top:17px;
    }
}