
.navigation-top li {
	list-style:none;
}


.admin-bar .site-navigation-fixed.navigation-top {
	top:auto;
}
.top-navigation{
	display:none;
}



.menu ul,
.widget_nav_menu ul {
	padding:0;
	margin:0;
}

.menu li ul {
	padding-left:1.0em;
}
.menu a {
	color:inherit;
}

.menu .light-background {
	color:rgba(0,0,0,0.6);
}

/* Basic menu.  Default is vertical/flyout */
.menu li, .menu.default li {
	display:block;
	font-size:0.7em;
	border:1px solid transparent;
	text-align:left;
	font-weight:600;
	text-rendering:optimizeLegibility;
	position:relative;
}



.menu a {
	text-decoration: none;
	display:inline-block;
	width:100%;
	height:100%;
	padding-left:0.8em;
	padding-right:0.8em;
}


.menu {
	list-style-type:none;
}

.menu.flyout {
	display:block;
}

.menu.dropdown {
	display:inline-block;
} 

.menu .horizontal li {
	line-height:2.0em;
	display:inline-block;
	text-align:center;
}


.menu-item-has-children {
	position:relative; /*default user-agent css*/
}

.menu-item-has-children:hover > .sub-menu {
	display:block;
}



.sub-menu {
	display:none;
	position:absolute;
	top:0px;
	right:0px;
	margin-left:100%;
	position: absolute;
	top: 0px;
	left: 110%;
	width: 400px; /* hack */
	width: 100%; /* ok... of what? */
	background-color: inherit;
}

.sub-menu .sub-menu {
	display:none;
}


/** hack - should be in child theme **/
#sidebar-left .menu li {
	background-color:rgba(255,255,255,1.0); /* grey */
}

.sidebar .menu {
	font-family: "Open Sans", sans-serif;
	max-width:140px;
}

/*Collapsable Main Navigation Styles*/
/* .menu-scroll-down{
	display: none;
}
.global-header .menu-main-menu-container{
	
	overflow: hidden;
}
.main-close-icon{
	display:none;
}
.toggled-on .main-menu-icon{
	display:none;
}
.toggled-on .main-close-icon{
	display:unset;
}
.main-navigation .menu-toggle{
	padding: 0px;
    margin: 0px;
	border: unset;

}

.toggled-on .menu-toggle{
	left:0px;
	top:46px;
	position: fixed;
    z-index: 10;
}

.toggled-on .menu-main-menu-container{
	display:block;
	background: aliceblue;
	position: fixed;
    top: -1px;
    padding-top: 49px;
}

.toggled-on .menu-main-menu-container{
	height: 100%;
	width: 100%;

}

.menu-main-menu-container{
	width: 0px;
	transition: width 0.5s ease-out 0s;
}

.main-navigation .menu{
	padding: 0;
    margin: 0 auto;
}
.main-navigation .menu li a{
	line-height: 15px;
} 

.main-navigation .menu li {
	font-size: 1.7em;
	padding-bottom: 23px;
}

.global-header .menu-main-menu-container {
    overflow: hidden;

    top: 0;
    left: 0;
	background: aliceblue;
} */

.menu-toggle-close{
	background: transparent;
    border: 0px;
}

.menu-toggle-open{
	background: transparent;
    border: 0px;
}

.main-menu-icon{
	vertical-align: middle;
}

.default-logo-overlay{
	display: block;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 750px){

.overlay{
	overflow: hidden;
	width: 100%;
    height: 100%;
    z-index: 112;
    background: white;
    position: fixed;
    top: 0;
	left: 0;

	transition: left 0.1s ease-out 0s;
}

.closed{
	left: -400px

}

.open{
	left:0px ;
}

.end .main-menu-icon{
	display: none;
}

.menu-toggle-close{
	margin-top: 46px;
}

.navigation-main .menu li{
	font-size:1.2em;
	padding-top: 22px;
	border-bottom: 1px groove black;
    margin-left: -40px;
}

.navigation-main .menu{
	border-top: 1px solid black;
}


}