/*Styles for the posts*/
a.more-link {
	text-decoration:none;
	font-size:smaller;
}
.page-header .page-title{
	font-size: 2em;
}
body:not(.has-sidebar):not(.page-one-column) .page-header{
	float:none;
	width:unset;
}



/*Post area styles*/
.trevor-posts-container{
	text-align: center;
}

.trevor-posts{
	margin: 0 auto;
	text-align: left;
}

.trevor-posts .wrap{
	padding:0px;
}

body.page-two-column:not(.archive) #primary .entry-content{
	width:auto;
	float: none;
}

.entry-meta {
	display:none;
}

.announcement-image img{
	width:200px;
}



@media screen and (max-width: 800px) {
	.wp-block-image figure,
	.wp-block-image figure.alignLeft,
	.wp-block-image figure.alignRight {
		display: block !important;
		float:none !important;
		margin-right:0 !important;
		margin-left:0 !important;
	}
}

.trevor-posts .wp-block-image figure.alignleft{
	margin:0;
}

.trevor-posts .wp-block-image .alignleft>figcaption{
	height:0;
	margin:0;
}

.trevor-posts p{
	margin:0;
}

.announcments-label{
	color: rgb(100, 120, 160);
	font-weight: bold;
	text-align:left;
}
.trevor-posts article figure{
	width:45%;
	height:80%;

}
.trevor-posts article img{
	width:100%;
	height:100%;
}
.trevor-posts .entry-title::after{
	
	content:"";
	border-style: solid;
	display:block;
	width: 100px;
	color:gold;
	margin-top:10px;
}
.norm_row .sfsi_wDiv{
	right: -115px;
}
.trevor-posts .wp-block-image{
	margin-right: 3px;
}
.page .panel-content .entry-title{
	color:rgb(100, 120, 160);
	font-family: 'Open Sans', sans-serif;
}
.trevor-posts .wp-block-image figure.alignleft{
	margin-right:6%;
}
.trevor-posts p{
	font-size: smaller;
}

.trevor-posts .entry-content p,
.trevor-posts .entry-content h1,
.trevor-posts .entry-content h2,
.trevor-posts .entry-content h3,
.trevor-posts .entry-content h4,
.trevor-posts .entry-content h5,
.trevor-posts .entry-content h6,
.trevor-posts .entry-content ul,
.trevor-posts .entry-content li
{
	color:rgb(100, 120, 160);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
.trevor-posts .entry-content li{
	width: 100%;
	float: left;
}
.trevor-posts .entry-content ul{
	padding-left: 5%;
}

/*new style changes 9/5 */

.trevor-posts article img {
    width: 100%;
    height: 100%;
    padding-right: 10px;
}


.page .panel-content .entry-title{
	font-size: 1.5em;
}



.single-post:not(.has-sidebar) #primary{
	max-width: unset;
	padding:3%;
}
.blog:not(.has-sidebar) #primary article{
	width:unset;
}



h1.entry-title {
	color:#222;
	font-weight:800;
	text-transform:uppercase;
	letter-spacing: 0.14em;
	font-size:0.8em;
}
