/**
 * Styles for the Left and Right Sidebars.
 * Defined in sidebar-left.php / sidebar-right.php
 */

.sidebar {
	max-width: 50%;
	display: none;
	float: none;
	display:block;
	vertical-align: top;
	background-color:#ccc;
}

#primary {
	float: none !important;
	display: inline-block;
	width:100%;
}

#sidebar-right {
	width:25%;
}

#sidebar-left {
	width:25%;
}

@media screen and (min-width:750px) {
	.sidebar {
		display:inline-block;
	}
	#primary {
		width: 47%;
		padding-left:2%;
		padding-right:2%;
	}
	body.home #primary {
		width:100%;
	}
}

body:not(.home) .site-content-contain {
	margin-top:75px;
}