/*General Overrides*/
body {
	font-family: 'Open Sans', sans-serif;
}

.wrap {
	max-width:none;
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
}


.site-content-contain {
	text-align:center;
	padding-left: 3%;
	padding-right: 3%;
	overflow-x: hidden;
}
.site-content {
	text-align:left;
}

.site-content-contain .site-content {
	margin: 0 auto;
}


@media screen and (min-width:750px){
	/*Global Header Styles*/

	.site-content {
		margin: 0 auto;
		max-width:80%;
	}
	
	.wireframe-front-page .site-content {
		padding-left:5%;
		padding-right:5%;
	}
	

	body:not(.home) .site-header{
			height: 85px;
	}
	.widget_nav_menu{
			display: inline-block;
			margin: 11px 12px 0 0;
	}
	/*Banner widget area styles*/
	.banner-widget-area{
		text-align: center;
	}


}
