/*Styles for the global-header and banner area*/


.custom-logo-link img{
    height: 50px;
}
.tagline-container{
    display: inline-block;
    width: 49%;
    height: 100%;
    text-align: center;
    margin-left: -8%;
}
.global-header{
    padding-top:11px;
    z-index: 9999;
}
.widget {
    padding-bottom: 0;
}

.search-form .search-field {
    background: none;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    width: 300px;
}

label {
    color: #333;
    display: block;
    font-weight: 800;
    margin-bottom: 0em;
}

.social-media-icon-container {
    display: inline-block;
    vertical-align: middle;
    padding-left: 73px;
}
.search-widget-style{
    display: inline-block;
}
.site-header{
    width:fit-content;
}
@media screen and (min-width:750px){
    .banner-widget-area {
        text-align: center;
        width: 300px;
        display: inline-block;
        padding-left: 48px;
    }
    .sidebar-1 .search-submit{
        right: -90px;
        top: -8.5px;
    }
    .search-icon{
        height:50px;
    }
}
@media screen and (max-width:750px){
    .global-header{
        padding:5px;
        height: 35px;
    }
    .custom-logo-link img{
        height: 24px;
    }
    .custom-logo-link{
        padding:0px;
        margin: -24px 0px 0px 0px;
    }
    .site-header{
        margin-top:17px;
    }
    .tagline-container{
        display:none;   
    }
    .sidebar-1{
        display: inline-block;
        vertical-align: top;
    }
    .sidebar-1 .search-submit{
        right: -30px;
        top: -9px;
    }
    .sidebar-1 .search-field{
        width: 175px;
        height: 25px;
    }
    .search-icon{
        height:30px;
    }
    #my_social_widget-2{
        padding:0px;
    }

}